# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Django database
db.sqlite3

# Media folder (user uploads)
media/

# Static collected files
staticfiles/

# VS Code
.vscode/

# Environment variables
.env
