{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/payment_info.css' %}">
<link rel="stylesheet" href="{% static 'css/fresh-organic.css' %}">
{% endblock %}
{% block content %}

<section class="payment-hero text-center py-5">
    <h1 class="fw-bold subtitle fs-2">Easy & Secure Payments</h1>
    <p class="mt-2">Multiple payment options with complete security.</p>
</section>

<section class="container py-5">
    <div class="row g-4">

        <div class="col-md-6">
            <img src="{% static 'images/fea3.jpg' %}" class="feature-img-circle" alt="">
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h3 class="fw-bold mb-3 subtitle fs-4">Supported Payment Methods</h3>

                <ul class="payment-list">
                    <li>💳 Pay instantly with UPI apps like Google Pay & PhonePe</li>
                    <li>💰 Debit & credit card payments supported</li>
                    <li>📱 Pay through trusted mobile wallets</li>
                    <li>🚚 Cash on Delivery available for all orders</li>
                    <li>🔒 Secure transactions with encrypted payment processing</li>
                </ul>

                <a href="/" class="btn btn-dark mt-3">Start Shopping</a>
            </div>
        </div>

    </div>
</section>

{% endblock %}

