{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block content %}
<div class="container my-5">

<h2 class="search-heading text-center mb-5">
  {% if query %}
    Results for "<span class="result-text">{{ query }}</span>"
  {% else %}
    Search Products
  {% endif %}
</h2>

  {% if products %}
  <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for product in products %}
    <div class="col">
      <div class="search-card shadow-sm border-0 position-relative">
        <form action="{% url 'toggle_wishlist' product.id %}" method="post"
              class="position-absolute top-0 end-0 m-2">
          {% csrf_token %}
        <button type="submit" class="wishlist-btn">

    {% if user.is_authenticated %}
        {% if product.in_wishlist %}
            ❤️
        {% else %}
            🤍
        {% endif %}
    {% else %}
        {% if product.id in guest_wishlist_ids %}
            ❤️
        {% else %}
            🤍
        {% endif %}
    {% endif %}

</button>

        </form>

        <a href="{{ product.get_absolute_url }}">
          <img src="{{ product.image.url }}" class="search-img" alt="{{ product.title }}">
        </a>

       <div class="p-3 text-center">
        <h5 class="fw-light text-uppercase fw-bold fst-italic mb-1"
                    style="color: #d3e83aff;">{{ product.title }}</h5>

    {% if product.is_offer_active %}
        <p class="fw-semibold text-secondary mb-1">
            <span class="text-decoration-line-through me-2 pricecolor">
                ₹{{ product.base_price|floatformat:2 }}
            </span>
            <span class="text-white fw-bold">
                ₹{{ product.discounted_price|floatformat:2 }}
            </span>

            {% if product.unit == "piece" %}
                <span class="small">per pc</span>
            {% elif product.unit == "pack" %}
                <span class="small">per pack</span>
            {% elif product.unit == "dozen" %}
                <span class="small">per dozen</span>
            {% else %}
                <span class="small">/ {{ product.unit }}</span>
            {% endif %}
        </p>

        <p class="small text-dark mb-0">
            You save ₹{{ product.savings_amount }} ({{ product.discount_percent }}% OFF)
        </p>

    {% else %}
        <p class="fw-semibold text-white mb-1">
            ₹{{ product.base_price|floatformat:2 }}

            {% if product.unit == "piece" %}
                <span class="small">per pc</span>
            {% elif product.unit == "pack" %}
                <span class="small">per pack</span>
            {% elif product.unit == "dozen" %}
                <span class="small">per dozen</span>
            {% else %}
                <span class="small">/ {{ product.unit }}</span>
            {% endif %}
        </p>
    {% endif %}
</div>

      </div>
    </div>
    {% endfor %}

  </div>

  {% else %}
  <div class="alert alert-warning text-center mt-5 shadow-sm">
    {% if query %}
      No products found for "<strong>{{ query }}</strong>"
    {% else %}
      Start typing in the search box above 🔍
    {% endif %}
  </div>
  {% endif %}

</div>
{% endblock %}
