.custom-dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.dropdown-selected {
    padding: 12px 15px;
    /* border: 2px solid #c7d7ff; */
    border-radius: 10px;
    background: #fff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-selected .arrow {
    transition: transform 0.3s ease;
}

.custom-dropdown.open .arrow {
    transform: rotate(180deg);
}

.dropdown-list {
    position: absolute;
    width: 100%;
    background: white;
    /* border: 2px solid #c7d7ff; */
    border-top: none;
    border-radius: 0 0 10px 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 9999;
}
.dropdown-list:hover{
    background: #d6f7cf;
}
.custom-dropdown.open .dropdown-list {
    max-height: 260px;
    overflow-y: auto;
}

.dropdown-list li {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.dropdown-list li:hover {
    background: #eaf1ff;
}

#id_other_reason {
    border-radius: 10px !important;
    /* border: 2px solid #c7d7ff !important; */
    padding: 10px 14px !important;
    font-size: 16px !important;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}
.cancelcard
{
     background: linear-gradient(120deg, #e9fbe3, #d6f7cf);
     border: 2px solid #86d277;
}